# directories
*.eggs/
*.egg-info/

# file types to ignore
*.egg-info

#exclude InpuData
mode_behave_public/InputData/*
!mode_behave_public/InputData/artificial_data.pickle
!mode_behave_public/InputData/example_data.pickle
!mode_behave_public/InputData/example_data.csv

#exclude ModelParam
mode_behave_public/ModelParam/*
!mode_behave_public/ModelParam/shares_artificial_data.pickle
!mode_behave_public/ModelParam/points_artificial_data.pickle
!mode_behave_public/ModelParam/initial_point_artificial_data.pickle

#exclude Deployments
mode_behave_public/Deployments/*
!mode_behave_public/Deployments/example_estimation.py

#exclude Visualizations
mode_behave_public/Visualizations/*
!mode_behave_public/Visualizations/forecast_clustering.png
!mode_behave_public/Visualizations/forecast_sensitivity.png