# directories
*.eggs/
*.egg-info/

# file types to ignore
*.egg-info

#exclude InpuData
mode_behave_public/InputData/data*
mode_behave_public/InputData/ensu_estimation_input*
mode_behave_public/InputData/ess*
mode_behave_public/InputData/fleet*